################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AGPoker/.vs/AGPoker
/src/AGPoker/AGPoker/obj
